/* @import "colors";
@import "typography";
@import "base"; */

.hero {
    background-image: url("../images/image-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.logo {
    display: flex;
    margin-top: 35px;
    margin-left: 165px;
}

.visual {
    background-color: #D87D4A;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    text-transform: uppercase;
}

.title {
    width: 398px;
    height: 346px;
    position: absolute;
    left: 165px;
    top: 225px;
    color: #FFFFFF;
}

h2 {
    color: #FFF;
    font-size: 14px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h1 {
    color: #FFF;
    font-size: 56px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    color: #FFF;
    font-size: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: center;

}

.lista {
    text-decoration: none;
    display: flex;
    color: #FFF;
    font-size: 13px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

li {
    margin-bottom: 34px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 505px;

}

.cos {
    position: absolute;
    top: 32px;
    right: 165.17px;
    background: none;
    border: none;
}

.bigbox {
    width: 350px;
    height: 284px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.smallbox {
    display: flex;
    width: 350px;
    height: 204px;
    flex-shrink: 0;
    color: grey;
    flex-direction: row;
}

.shop {
    color: #000;
    font-size: 13px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
    width: 55px;
    height: 18px;
    display: flex;
    flex-direction: row;
    margin-top:156px;
    margin-bottom:30px;
    margin-left:146px;
    margin-right:165px;
    
}

/* .box {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
    display: flex;
} */

.category {
    display: flex;
}

.container {
    display: flex;
}

.headphones {
    width: 122.947px;
    height: 160px;
    flex-shrink: 0;
    margin-left: 113.68px;
    margin-top: 48px;
    margin-bottom: 124px;
    margin-right: 113.34px;
}

.speakers {
    width: 121.489px;
    height: 146px;
    flex-shrink: 0;
    margin-left: 113.52px;
    margin-top: 48px;
    margin-bottom: 130.5px;
    margin-right: 114.99;
}

.earphones {
    width: 178px;
    height: 161px;
    flex-shrink: 0;
    margin-top: 48px;
    margin-left: 88px;
    margin-bottom: 128px;
    margin-right: 84px;
}
.box1{color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
display:flex;
margin-left: 108.5px;
margin-right:108.5px;
margin-top:116px;
margin-bottom:63px;}